#container{
    text-align: center;
}
#container input{
    height: 60px;
    width: 80px;
    border: none;
    font-size: 30px;
    font-family: sans-serif;
}
#container button{
    height: 40px;
    width: 60px;
    margin-right: 20px;
    margin-top: 10px;

}